@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800,900");
body {
  margin: 0;
  height: 100vh;
  color: #000000;
  font-family: "Open Sans", sans-serif;

  background-color: #fafafa!important;
    
}
:root{
  --color__accent: #6a6a6a;
  --input__border: rgba(0, 0, 0, 0.42);
  --input__border--hover: rgba(0, 0, 0, 0.62);
  --label__color: #222;

}
#root {
  font-family: "Open Sans";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0px !important;
  padding: 0px;
}

/*
Theme
*/

.themeDark tspan,
.themeDark .box-shadow svg {
  fill: white;
}

.themeDark .box-shadow .table-custom th button {
  background-color: white;
}
.table-custom img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
 
 
 

.themeDark .dashboard-card h4,
.themeDark .chart-heading-cst,
.app main header h1,
.themeDark .box-shadow h5,
.themeDark .box-shadow p {
  color: white;
}

.themeDark .dashboard-card,
.themeDark .chart-main-bd,
.themeDark .box-shadow {
  background-color: rgb(45, 49, 57);
}

.themeDark header {
  border-bottom: 1px solid #424242 !important;
}

.themeDark header h1 {
  color: white !important;
}

.bgLight {
  /* background-color: #f9f9f9 !important; */
}

 
.bgDark .login-box .login-box-inner a,
.bgDark .lblds-login {
  color: white;
}
.bgDark .login-box .login-box-inner {
  box-shadow: none;
  border-color: white;
}
.bgDark {
  background-color: #111826 !important;
  min-height: 100vh;
}

.bgDark1 {
  background-color: rgb(45, 49, 57) !important;
}

.colorLight {
  color: #fbfbfb !important;
}

.colorDark {
  color: #111826 !important;
}
 

 

.box-shadow .table-custom th button {
  margin-left: 10px;
}
 
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
}

.app main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.app main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #efefef;
}

.app main footer {
  margin-top: auto;
  color: #888;
  text-align: center;
}

.btn-main {
  background-color: #111826 !important;
  color: white !important;
  border-radius: 0px !important;
  font-size: 0.8rem !important;
}

.btn-main-light {
  background-color: #2d3139 !important;
  color: white !important;
  border-radius: 0px !important;
  font-size: 0.8rem !important;
}

/* width */

::-webkit-scrollbar {
  width: 5px;

}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #2d3139;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #111826;
  border-radius: 0px !important;
}

 
.dashboard-card h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #4a4a4a !important;
}

.dashboard-card .c-img {
  background-color: #59bad8;
  padding: 10px;
  border-radius: 50%;
}

.dashboard-card {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 0px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 4%);
  border-radius: 16px;
  margin-top: 20px;
}

.top-p-wrap {
  margin: auto;
  max-width: 900px;
}

.chart-main-bd {
  max-width: 1110px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 4%);
  border-radius: 16px;
  width: 100%;
  padding: 22px 0px 48px 22px;
  margin-top: 30px;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.chart-heading-cst,
.app main header h1 {
  font-style: normal;
  
  line-height: 26px;
  color: #565656;
    font-size: 20px;
    font-weight: 700;
   font-variant: small-caps;}

.searchbar-head input::placeholder,.searchbar-head input {
  font-size: 12px!important;
  font-weight: 600;
}
.searchbar-head  svg{
  width: 14px;
}
.searchbar-head {
  max-width: 350px;
  height: 32px;
  width: 100%;
  padding: 0px 20px;
  background: #ffffff;
  /* shadow */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-head input {
  width: 100%;
  border: none;
}

.searchbar-head input:focus-visible {
  outline: none;
}

.searchbar-head input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}
.uploader__container .uploader__btn img{
  width: 20px;
}
.right-card {
  /* max-width: 730px; */
  width: 100%;
  margin-right: 30px;
}

.tags-box {
  max-width: 100%;
}

.box-shadow {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 4%);
  border-radius: 10px;
  padding: 22px 0px 48px 22px;
}

.hd-5 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0px;
}

.brd {
  border: 1px solid #ededed;
}

.table-custom th {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7b7c87;
  padding: 14px 0px !important;
  border-bottom: 1px solid rgba(68, 68, 93, 0.07) !important;
}

.table-custom td {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #59bad8;
  padding: 14px 0px !important;
  border-bottom: 1px solid rgba(68, 68, 93, 0.07) !important;
  text-align: center;
}

.pagination-container button {
  font-size: 14px;
  line-height: 16px;
  color: #59bad8;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  width: 82px;
  padding: 8px 14px;
}

.pagination-container {
  align-items: center;
}

.pagination-number-container .active {
  background-color: #111826;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  color: white !important;
}

.pagination-number-container button {
  margin-left: 18px;
  font-size: 14px;
  line-height: 16px;
  width: 8px;
  height: 16px;
  box-shadow: none;
  color: #7b7c87 !important;
  background-color: transparent;
  padding: 0px;
}

table {
  vertical-align: middle !important;
}

.pagination-number-container {
  align-items: center;
  margin-right: 20px;
}

.cst-dropdown .btn-primary {
  background-color: white;
  border: none;
  font-size: 12px;
  line-height: 14px;
  line-height: 19px;
  border-radius: 5px;
  color: #d7d7d7 !important;
  padding: 8px 14px;
  width: 100%;
  border: 1px solid #d7d7d7;

  border-radius: 0px!important;
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0px!important;
}

.cst-dropdown .dropdown-toggle::after {
  content: none;
}

.cst-dropdown .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  box-shadow: none;
  background-color: #ffffff;
  color: #59bad8;
}

.cst-dropdown .btn-primary:hover,
.cst-dropdown .btn-primary:active,
.cst-dropdown .btn-primary:focus {
  background-color: transparent !important;
border-color:  #d7d7d7 !important;
  /* color: white !important; */
  box-shadow: none !important;
  border-top: 0px!important;
}

.cst-dropdown .dropdown-item div {
  font-size: 0.9rem;
  font-weight: 400;
}

.cst-dropdown .dropdown-item {
  padding: 5px ​14px 5px 14px;
}

.cst-dropdown .dropdown-item:focus,
.cst-dropdown .dropdown-item:hover {
  color: #59bad8 !important;
  text-decoration: none;
  background-color: #f2f6fe;
}

.cst-dropdown .dropdown-menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(0px, 45px, 0px);
  background: #ffffff;
  box-shadow: 0px 0px 36px rgb(0 0 0 / 14%);
  border-radius: 8px;
  margin-top: 14px;
  min-width: 345px;
  font-size: 16px;
  line-height: 19px;
  color: #d7d7d7;
}

.brd-none {
  border: none !important;
}

.cst-textbox {
  display: flex;
  padding: 14px 0px;
  border-bottom: 1px solid rgba(68, 68, 93, 0.07);
}

.cst-textbox-input ,.cst-textbox  input,.cst-textbox  textarea,.cst-textbox  select{
  background: #ffffff;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 4%)!important;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #59bad8;
}

.cst-textbox-input::placeholder {
  position: relative;
  margin: 10px;
}

.text-area-h {
  height: 140px;
}

 
.react-tags-wrapper {
  background: #f3f3f3;
}

.t-parent p {
  font-size: 14px;
  font-weight: 600;
  color: #212529 !important;
}

.t-parent button {
  border: none;
  background: transparent;
  color: white;
}

.ReactTags__tagInputField,
.ReactTags__tagInputField:active,
.ReactTags__tagInputField:focus,
.ReactTags__tagInputField:hover,
.ReactTags__tagInputField:focus-visible {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  border-bottom: 1px solid #c3c3c3 !important;
  margin: 10px 0px;
}

.tag-wrapper {
  padding: 2px 0px;
  background-color: #2d3139;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.jasf-sadwqe .ReactTags__tagInputField {
  max-width: 100%;
  width: 100%;
}
.bgDanger p,
.bgInfo p {
  color: white !important;
}
.saidasd-sd {
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  width: 168px;
}
 
.bgInfo,
.bgInfo .react-tags-wrapper {
  background-color: #58b91c !important;
}

.bgDanger,
.bgDanger .react-tags-wrapper {
  background-color: #ff0000 !important;
}

.bgWarning,
.bgWarning .react-tags-wrapper {
  background-color: #ffc800 !important;
}

.t-parent {
  background: #f3f3f3;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  /* max-width: 228px; */
  margin-right: 10px;
  width: 100%;
}
.t-parent p span {
  font-size: 10px;
  margin-left: 5px;
}
.p-image {
  max-width: 120px;
  width: 100%;
}
.sakdhsad-dsad {
  background-color: #111826 !important;
  color: white !important;
}
.p-image-1 {
  max-width: 40px;
  width: 100%;
}
.dskfhods-asdsad {
  font-size: 18px !important;
  margin-top: 10px !important;
}

.login-box-p {
  background: url('/src/images/bg.svg') no-repeat fixed center;
  background-size: cover;
  width: 100%;
  
}
.login-box {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: column;
  margin-top: 10%;
  
}

.login-box-inner {
  border-top: 10px solid #59bad8;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  padding: 25px;
  width: 100%;
  max-width: 412px;
  margin-top: 15px;
  border-radius: 12px;
}

.ioiwq923as21 {
  width: 100%;
  max-width: 470px;
  margin-top: 15px;
  border-radius: 12px;
}

.lbl-login-error {
  margin: 12px 0px;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  color: red;
}

.lblds-login {
  margin: 12px 0px;
  font-size: 18px;
  font-weight: 500;
}

.btn-login {
  border: 1px solid #59bad8 !important;
  background-color: #59bad8 !important;
  color: white !important;
  padding: 5px 23px !important;
  border-radius: 22px !important;
  width: 98%;
}

.btn-box button {
  padding: 5px !important;
}

@media (max-width: 1024px) {
  .kmsadockse-erl{
    flex-direction: column;
  }
  .nmkacjsf-asndfe{
    margin-left: 0px!important;
  }
}
@media (max-width: 375px) {
  .njadfskdfns-dsfsad
  {
    max-width: 280px!important;
  }
}
@media (max-width: 1230px) {
  .jkdacs-3je8w{
    flex-direction: column;
  }
 .jkdacs-3je8w .nvsdc-amwdi{
     margin-left: 0px!important;
  }
}
@media (max-width: 1200px) {
  .app {
    overflow-x: hidden;
  }
  .app header h1 {
    font-size: 24px;
  }
  .collapsed  .pro-sidebar-inner{
    left: 80px;
  }
}

@media (min-width: 1200px) {
  .btn-toggle {
    display: none;
  }
}

@media (max-width: 796px) {
  .block .top-p-wrap {
    justify-content: center !important;
  }
  .dashboard-card {
    margin-right: 20px;
  }
}

@media (max-width: 485px) {
  .block .px-4 {
    padding: 0 1% 0 1% !important;
  }
  .app main header h1 {
    margin-top: 10px !important;
  }
  .app main header {
    flex-direction: column-reverse;
  }
  .cst-none {
    display: none !important;
  }
  .searchbar-head {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .login-box-p .mvw-100{
    flex-direction: column-reverse;
  align-items: center;
  justify-content: center!important;
  }
  .lgn-p{
    margin: 50px 0px!important;
  }
}
@media (max-width: 425px) {
  .ReactTags__tagInputField::placeholder {
    font-size: 12px;
  }
  .dafdsf-cdsfs {
    flex-direction: column;
  }
  .dsf-asdnasd a {
    /* display: none!important; */
  }
}

@media (max-width: 855px) {
  .block .px-4 {
    padding: 0px;
  }
  .block .flex-row {
    flex-direction: column-reverse !important;
  }
  .tags-box {
    margin-bottom: 20px;
  }
  .tags-box {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .app .btn-toggle {
    display: flex;
    position: relative;
    z-index: 10000;
    left: -12px;
  }
  .app.rtl .btn-toggle {
    margin-left: auto;
  }
  
}

.results-section {
  display: grid;
  grid-gap: 35px;
}

.results--grid {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.profile:hover {
  color: black !important;
}
.profile {
  position: relative;
  background: var(--backgroundColor);
  color: var(--foregroundColor);
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease;
  display: grid;
  grid: 200px repeat(5, auto) / 100%;
  text-decoration: none;
}
.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 7px solid #f5b913;
}
.profile__info {
  padding: 20px 25px 0;
}
.profile__info p {
  font-size: 12px;
}
.profile__info h4 {
  font-size: 18px;
}
.profile-box p {
}
.profile-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile__stats {
  padding: 5px 25px;
}
.profile__stats__title {
  color: var(--grayColor);
  text-transform: uppercase;
  font-size: 16px;
}
.profile__cta {
  padding: 0 25px 25px;
}
.profile a:hover {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade4);
}
.profile a:active,
.profile a:focus {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade5);
}

.main-div h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 156.5%;
  letter-spacing: 0.01em;
  color: #131313;
  margin-bottom: 18px;
}
.lsjadf-sadnsd {
  margin-bottom: -8px !important;
  font-size: 25px !important;
  font-weight: 400 !important;
}

.nkasdad-asdn p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  word-break: keep-all;
  /* line-height: 29px; */
  /* identical to box height */
  /* position: relative; */
  width: 140px;

  color: #131313;
}
.nkasdad-asdn h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
}
.nkasdad-asdn {
  background: #ffffff;
  border: 0.5px solid #c4c4c445;
  box-sizing: border-box;
  box-shadow: 0px 10px 22px rgb(199 199 199 / 12%);
  border-radius: 15px;
  padding: 20px;
  display: flex;
}

.njadfskdfns-dsfsad {
  max-width: 299px;
  margin: 0px 5px;
  margin-bottom: 20px;
}
.jdiofsdf-fndsf {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */

  color: #131313;
  margin-bottom: 20px;
}

.odsafoskdf-dsnaier {
  background: #ffffff;
  border: 0.5px solid #c4c4c445;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 13px;
  margin-right: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.odsafoskdf-dsnaier tspan {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}
.odsafoskdf-dsnaier .recharts-cartesian-grid-vertical line {
  stroke: #00000008 !important;
}
.diafdsfi-dsaf {
  max-width: 280px;
  width: 100%;
}

.sanfkf-dafn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #131313;
  margin-left: 7.2%;
}

.jasfidsf-afnesf3 h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #131313;
}
.jasfidsf-afnesf3 span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #b5b5b5;
}
.jasfidsf-afnesf3 {
  padding: 0px 9.5% 0px 6.5%;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .kafsdfidsa-fen {
    flex-direction: column;
  }
}

.maxima {
  width: 100%;
  max-width: 464px;
  margin-top: 20px;
}
.upload-1:hover {
  background: #32a9ce;
  color: #ffffff;
}
.maxima p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #a2a2a2;
  margin-left: 20px;
}
.umpire-1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.umpire-1 {
  width: 100%;
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.upload-1 {
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #131313;
  background: #f9f9f9;
  border: 0.5px solid #c4c4c4;
  border-radius: 29px;
  padding: 6px 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.umpire-1-cst {
  margin-top: 20px;
}

.jdsfosae-waejw .react-switch-handle {
  height: 16px !important;
  width: 16px !important;
}
.jdsfosae-waejw svg {
  display: none;
}
.jdsfosae-waejw .react-switch-bg {
  height: 16px !important;
  width: 45px !important;
  background: #149dc7 !important;
  top: 0px !important;
}

.complete-web-1 .kdsjf0ew-ew p {
  font-size: 14px !important;
}
.complete-web-1 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1334px;
  flex-wrap: wrap;
}

.sdkahfsndj-sadsd {
  display: flex;
  width: 100%;
}

.label-bar-1 {
  width: 100%;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  margin-right: 34px;
  margin-bottom: 20px;
}
.label-bar-1 input,
.label-bar-1 textarea {
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 10px 22px rgb(199 199 199 / 12%);
  border-radius: 100px;
  padding: 12px 28px;
  width: 100%;
  outline: none;
  margin-top: 20px;
}
.label-bar-1::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #131313;
}
.label-bar-1 label {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  line-height: 20px;
  color: #131313;
  font-weight: 600;
}

.label-bar-1 textarea {
  border-radius: 15px !important;
}

.label-bar-1 .dropdown-toggle {
  border-radius: 20px;
}

.kjfas-ijdsare .kjfads-fasenr {
  margin-top: 20px;
}
.kjfas-ijdsare {
  max-width: 400px;
  width: 100%;
  margin-right: 20px;
}

.accoms-1 {
  margin-bottom: 20px;
  max-width: 390px;
  margin-right: 1.5%;
  margin-top: 20px;
}

.medal-bar-1 {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  box-shadow: 0px 10px 22px rgb(199 199 199 / 12%);
  border-radius: 15px;
  display: flex;
  padding: 25px;
  margin-right: 20px;
  max-width: 474px;
  align-items: flex-start;
}
.medal-bar-1 img {
  max-width: 55px;
  border-radius: 50%;
}
.adobe-bar {
  width: 100%;
  max-width: 528px;
  margin-left: 24px;
}
.adobe-bar h3 {
  width: 100%;
  max-width: 416px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  color: #131313;
  margin-bottom: 0px;
}
.adobe-bar h5 {
  font-size: 16px;
}

.adobe-bar p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0px;
  color: #a2a2a2;
}

.ratio-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 457px;
  margin-top: 20px;
}
.ratio-bar h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #131313;
  margin-bottom: 0px;
}
.ratio-bar p {
  margin-left: 9px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 156.5%;
  letter-spacing: 0.01em;
  color: #131313;
}
.ml-9 {
  margin-left: 9px;
}
.ratio-bar h6 {
  font-size: 12px;
  font-weight: 500;
}
.ratio-bar {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #131313;
}

.hjsaisa-sdnjassd button p {
  text-align: center;
  width: 75%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  margin-bottom: 0px;

  color: #3b5998;
}
.hjsaisa-sdnjassd button svg {
  margin-left: 29px;
  width: 30px;
  height: 30px;
}
/* .hjsaisa-sdnjassd button {
   border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 10px 22px rgb(199 199 199 / 12%);
  border-radius: 100px;
  display: flex;
  align-items: center;
  max-width: 466px;
  width: 100%;
  padding: 12px 0px;
  margin: 16px 0px;
  margin-right: 40px;
  cursor: pointer;
} */
.hjsaisa-sdnjassd {
  width: 100%;
  margin-top: 20px;
}
.hjsaisa-sdnjassd h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #131313;
}

.jsdif-dsndawje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

.reviews-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 980px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
}
.first-rev-sec {
  width: 100%;
  background: #ffffff;

  box-shadow: 0px 10px 22px rgba(199, 199, 199, 0.118);
  border-radius: 26px;
  max-width: 430px;
  /* padding: 41px 45px; */
}
.first-rev-sec p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #131313;
  line-height: 22px;
}
.cm-webs-12 p {
  padding-bottom: 15px;
}
.cm-webs-12 {
  margin: 0 25px;
  padding-bottom: 20px;
}
.first-rev-sec h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #a2a2a2;
}
.rev-img {
  width: 100%;
  max-width: 211px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 22px;
  margin-left: 25px;
}
.you-rev {
  width: 146px;
  display: flex;
  flex-direction: column;
}

.you-rev h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150.5%;
  color: #131313;
  margin-bottom: 2px;
}
.rev-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.you-rev p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #a2a2a2;
}
.kdsafjkds-ae3rinr p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-right: 12px !important;
}
.kdsafjkds-ae3rinr h4 {
  font-size: 18px;
  font-weight: 600;
}
.kdsafjkds-ae3rinr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0px;
}
.nvsdc-amwdi {
  padding: 20px;
  border-radius: 8px !important;
}
.lsakdlsa-dakd {
  max-width: 590px;
  width: 100%;
}

.service-card h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  color: #505050;
}
.service-card h1 {
  font-weight: 500;
  font-size: 23px;
  line-height: 31px;
  /* or 135% */

  color: #3a3838;
}
.service-card {
  align-items: center;
  justify-content: center;
  max-height: 200px;
  height: 100%;
  border-radius: 10px;
  margin: 2rem 0px;
  padding: 10px 20px;
  width: 100%;
  margin: 10px;
  max-width: 420px;
  margin-right: 20px;
}
.service-card img {
  width: 100%;
  max-width: 150px;
}

.nmkacjsf-asndfe {
  max-width: 440px;
  margin: 0px 20px;
}

body .btn-info {
  color: white;
  background-color: #159ec8;
  border-color: #159ec8;
}
body .btn-warning {
  color: white;
}
.manasjd-ajwe {
  display: flex;
  justify-content: flex-end;
}

.login-box .logo {
  width: 100%;
}
.kdjfa-wajem2-23 {
  width: 100%;
  max-width: 500px;
}

.mt5p {
  margin-top: 5%;
}

.loader {
  position: fixed;
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
    height: 100%;
      background-color: rgba(0, 0, 0, 0.295);
   top: 0;
  z-index: 11111;
}
.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 222222;
}
.toast-type-0 .toast-header {
    background-color: #28a745 !important;
    color: white;
  }
.toast-type-1 .toast-header {
  background-color: #17a2b8 !important;
  color: white;
}
.toast-type-2 .toast-header {
  background-color: #fabd07 !important;
  color: white;
}
.toast-type-3 .toast-header {
    background-color: #dc3545 !important;
    color: white;
  }

  .field-box p{
    color: red;
    margin-top: 10px!important;
  }
  .kjadsfsr{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .mfkase0fsre3{
    position: relative;
  }
  .dafdsf-cdsfs h5,.lao3r0-dkasnd{
    color: red!important;
    font-size: 12px;
  }
  .dafdsf-cdsfs{
    margin-bottom: 20px;
  }

  .kjdsfad-aweinmsa{
    padding: 0px 5px;
    font-size: 8.5px!important;
    height: 28px!important;
  }
  .uploader__btn{
    position: relative;
    right: 54px;
    top: 30px;
  }
  .uploader__placeholder{
    border-radius: 50%;
  }

  .cst-dropdown .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
    border: 1px solid!important;
  }
  .modal-cst-text h3{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0px!important;
  }
  .modal-cst-text h5 span{
    font-weight: 700;
  }
  .modal-cst-text h5{
    font-size: 14px;
    margin-bottom: 5px!important;
  }
  .modal-cst-text h6{
    font-size: 12px;
    margin-bottom: 5px!important;
    }
  .modal-cst-text p{
    font-size: 12px;
    margin-bottom: 5px!important;
  }

  .float-input 
  input {
    background: none;
    border-width: 0;
    display: block;
    width: 100%;
    outline: 0px;
    font-size: 14px;
    color: #7f7f93;
    font-weight: 400;
    padding: 2px;
  }
 
.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

   

  .floating {
    margin-bottom: 0.5rem;
    background-color: var(--field__background);
    transition: background-color 0.2s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0.5px solid rgb(228, 228, 228);
  }
  
  .floating:hover,
  .floating:focus-within {
    background-color: var(--field__background--hover);
  }
  
  .floating__input {
    padding: 0rem;
    font-size: 1rem;
    border-bottom: 0.1rem solid var(--input__border);
    transition: border-color 0.2s ease;
    caret-color: var(--color__accent);
  }
  
  .floating:hover .floating__input {
    border-color: var(--input__border--hover);
  }
  
  .floating__input::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  
  .floating__label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;
  }
  
  .floating__label::before {
    color: var(--label__color);
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    left: 0rem;
    position: relative;
  }
  
  .floating__label::after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
   }
  
  .floating__input:focus + .floating__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  
  .floating__input:placeholder-shown + .floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
    color: #777777;
    font-size: 12px;
  }
  .jkjdsaikfer{
    box-shadow: none!important;
  }
  .jkjdsaikfer::placeholder{
    color: #777777;
    font-size: 12px;
    outline: none;
  }
  
  .floating__label::before,
  .floating__input:focus + .floating__label::before {
    transform: translate3d(0, -2.7rem, 0) scale3d(0.82, 0.82, 1);
  }
  
  .floating__input:focus + .floating__label::before {
    color: var(--color__accent);
  }

  .p-an h5{
    margin-bottom: 6px!important;
    color: #565656;
    font-weight: 600;
    text-align: center;
  }
  .p-an h6{
    color: #7f7f83;
    font-weight: 500;
    max-width: 300px;
    line-height: 20px;
    text-align: center;
    margin: auto!important;
    margin-bottom: 6px!important;
    
  }
  .p-an p{
    margin-bottom: 6px!important;
    color: #7f7f83;
    font-weight: 400;
    max-width: 400px;
    font-size: 13px;
    text-align: center;
    margin: auto!important;
  }
  .mvw-100{
    min-height: 100vh;
  }


   

 
 
.btn-brd {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
   outline: none;
  overflow: hidden;
  position: relative;
  color: #464b50;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
   margin-top: 20px;
  border: 1px solid #e7e7e7;
  
  background-color: transparent;
}
.btn-brd1 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
   outline: none;
   color: #464b50;
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
   margin-top: 20px;
  border: 1px solid #e7e7e7;
  
  background-color: #2aa6cd;
  color: white;
   

}

.btn-brd span {
  position: relative; 
  z-index: 1;
}

.btn-brd:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 990%;
  width: 140%;
  background: #e7ebeb;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-brd:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

 .lgn-p{
  max-width: 450px;
  width: 100%;
  margin: 0px 20px;
  margin: auto;
 }

.lgn-box{
  background-color: white;
  
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.float-input p{
  
    font-size: 12px;
    color: red;
    text-transform: lowercase;
    text-align: left;
}

.container{
  max-width: 1000px!important;
}
.sandkas-nrker
{

display: flex;
justify-content: center;
align-items: center;
}
 .jsa-sffwr img{
   width: 100%;
   margin-bottom: 10px;
   
 }
 .jsa-sffwr
 {
  max-width: 170px;
  margin: auto;
  width: 100%;
 }

 .nksds-wedn .lgn-p {
  max-width: 422px;
}
 .ksjadlas34{
   font-weight: 700;
   color: #464b50;
   font-size: 2rem;
   margin: 20px 0px!important;
 }

 .nksds-wedn .jsa-sffwr {
  max-width: 135px;
  margin: auto;
  width: 100%;
} 
 .nksds-wedn .ksjadlas34 {
  color: #7e7e7e;
  font-size: 1.5rem;
  margin: 5px 0px 20px 0px!important;
  font-variant: petite-caps;
  font-weight: 700;
  font-size: 1.7rem;
}
.knsdao3e-km3e{
display: flex;
align-items: center;
justify-content: center;
margin:0px;
position: relative;
top: 0px;
margin-right: 15px;
}
.d-fxwewe{
  margin-bottom: 3px;
}
.stepper-cst{
  width: 100%;
    display: flex;
    /* justify-content: space-between; */
    background-color: #e2e5f1;
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 20px;
    max-width: 412px;
}
.knsdao3e-km3e h5{
  font-size: 9px;
  margin-left: 5px!important;
  margin-bottom: 0px;
  position: relative;
  top: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.knsdao3e-km3e-a h5{
  color: white;
}
.knsdao3e-km3e-a{
  background-color: #2aa6cd;
  border-radius: 16px;
  padding: 0px 14px 0px 13px
}

.nsaodw-wdem button{
  text-transform: uppercase!important;
  font-size: 12px;
  font-weight: 700;
}
.nsaodw-wdem{
  width: 100px;
  
}
.mncsp-ejnadwe h2{
  font-size: 10px;
  margin-bottom: 0px;
}
.mncsp-ejnadwe button{
  margin:0px!important;
}
.mncsp-ejnadwe{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.mdkse-aemnw{
  margin-left: 10px;
}

.login-box-p .jnskdf-san4rke
{
  text-align: left!important;
    margin-bottom: 15px!important;
    font-variant: small-caps!important;
    font-weight: 800!important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
 width: 100%;
    height: 100%;
}
.knsadfkcdsk-mere
{
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin: 0px!important;
  font-variant: small-caps;
  margin-bottom: 8px!important;
}

.kjsca-em2e{
  font-size: 10px!important;
  text-align: left!important;
  margin-bottom: 10px!important;
}
 
.pro-sidebar{
  height: 100vh;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  min-width: 210px!important ;
  width: 210px!important;
}
.pro-sidebar-footer{
  position: fixed;
  width: 100%;
  max-width: 210px;
  width: 100%;
  bottom: 0px;
}

 .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout{
  background-color: white!important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.nkdsf0-kemw img{
  width: 100%;
}
.nkdsf0-kemw{
  max-width: 140px;
  
}
.pro-sidebar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
  background-color: transparent!important;
}


.pro-sidebar .pro-menu.circle .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
  margin-right: 0px;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content{
  color: #4f5b9a;
  font-size: 12px;
  font-weight: 600!important;
}
.pro-menu h5{
  font-size: 14px;
  margin-left: 28px!important;
  font-weight: 700;
  color: #4e5162;
  margin-bottom: 20px!important;
  margin-top: 10px!important;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item{
  padding: 0px 35px 0px 20px!important;
}
.pro-sidebar .pro-menu{
  
  padding-bottom: 60px!important;
}
.anjasd-awenw
{
  margin-bottom: 45px;
}
.pro-sidebar-layout::-webkit-scrollbar {
  display: none;
}

.pro-sidebar-layout{
  position: fixed!important;
    width: 100%;
    max-width: 210px;

}
body .cst-mx-0
{
  text-align: left!important;
  margin-left: 22px!important;
}
body  .p-an h6{
  margin-left: 0px!important;
}

.pro-menu-item:hover{
  background-color: #f3f3f3;
}
.kjnaskd-awn3edw
{
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 0px;
}
.bjasnkc0-wejw
{
  border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.public-DraftEditor-content{
border: 1px solid #c9c9c9;
height: 150px!important;
}
.table-custom{
  border-collapse: separate;
  border-spacing: 0 10px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 8px;

}

.login-box-p .cst-dropdown .btn-primary
{
  color: black!important;
}
body .dzu-dropzone .dzu-inputLabel{
  font-size: 16px;
  font-weight: 500;
}
body .dzu-dropzone{
  height: 55px;
    overflow: auto;
    margin-bottom: 20px;
    padding: 10px 1px;
    overflow-x: hidden;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
} 

.kjndcs-n4r h5{
font-size: 10px;
font-weight: 600;
}
.kjndcs-n4r p{
  color: red;
}
.udasnfo-anweik h5{
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.kjifads-e3j{
  width: 70px;
  height: 70px;
 }
 .kdnafo-wkema p{
   font-size: 10px;
   margin: 0px;
   font-weight: 700;
 }
 .kdnafo-wkema img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
    border:2px solid rgba(250, 179, 0, 0.971);;
   padding: 10px;
   margin: 10px 5px;
 }
 .approved-csl{
  border:2px solid rgba(62, 250, 0, 0.971)!important;;

 }
.udasnfo-anweik{
  width: 100%;
  max-width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accordion-header .d-flex{
  align-items: center;
}
.accordion-header img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

body .hjasdasew-sad .floating__label::before{
  top: 30px;
}
body .hjasdasew-sad .float-input input{
  margin: 0px;
 
}
body .hjasdasew-sad .floating{

  margin: 0px;
  border: none;
  background-color: transparent;
}